<div class="container">
    <h1>Agregar Amigos</h1>
    <hr>
    <div class="alert alert-success" *ngIf="alert" role="alert">
        {{message}}
    </div>
    <div class="alert alert-danger" *ngIf="erroral" role="alert">
        {{message}}
    </div>
    <div class="row">
        <form [formGroup]="dataForm" >
            <div class="input-group mb-3">            
                <input type="text" class="form-control" placeholder="Nombre de Usuario" aria-label="Username" aria-describedby="basic-addon1" formControlName="nombre">
                <button  *ngIf="!buscarstate" class="input-group-text" id="basic-addon1" class="btn btn-outline-success" (click)="buscar()" ><i class="fas fa-search"></i></button>
                <button  *ngIf="buscarstate" class="input-group-text" id="basic-addon1" class="btn btn-outline-success"  (click)="clear()"><i class="far fa-window-close"></i></button>
            </div>
        </form>
    </div>
    <div class="row row-cols-1 row-cols-md-4 g-4">
        <div class="col" *ngFor="let u of usuarios">
            <div class="card">
                <img src="{{u.foto}}" style="width: 10rem; height: 12rem; align-self: center;" class="card-img-top">
                <div class="card-body">
                    <h6>{{u.nombre_usuario}}</h6>
                    <p>{{u.correo}}</p>
                    <p class="card-text" style="font-size:12px; text-overflow: ellipsis;">
                        {{u.archivos_publicos}} archivos públicos
                    </p>
                    <div class="d-grid mx-auto">
                        <button (click)="agregarAmigo(u.id_usuario)" class="btn btn-outline-success">Agregar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>