
<div class="container">
    <h1>Agregar Amigos</h1>
<hr>
    <div class="row row-cols-1 row-cols-md-4 g-4">
        <div class="col">
            <div class="card">
                <img src="../../../../assets/img/file.jpg"
                    style="width: 8rem; height: 8rem; align-self: center;" class="card-img-top">
                <div class="card-body">
                    <p class="card-text" style="font-size:12px; text-overflow: ellipsis;">
                        50 archivos públicos
                    </p>
                    <div class="d-grid mx-auto">
                        <a class="btn btn-outline-success">Agregar</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>