<div>
    <div class="row">
        <div class="col"
            style="background-image: url('../../../assets/img/3683.jpg'); background-size: cover; min-height: 100vh;">
        </div>
        <div class="col-10">
            <div class="row">
                <div class="col"></div>
                <div class="col">
                    <div class="container" style="padding-top: 50px;">
                        <div class="card" style="width: 18rem;">
                            <div class="card-body">
                                <h5 class="card-title">Bienvendio</h5>
                                <form [formGroup]="dataForm">
                                    <div class="mb-3">
                                        <label for="correo" class="form-label">Correo</label>
                                        <input type="email" class="form-control" id="correo" formControlName="correo">
                                    </div>
                                    <div class="mb-3">
                                        <label for="nombre" class="form-label">Nombre de Usuario</label>
                                        <input type="nombre" class="form-control" id="nombre" formControlName="nombre">
                                    </div>
                                    <div class="mb-3">
                                        <label for="password" class="form-label">Contraseña</label>
                                        <input type="password" class="form-control" id="password"
                                            formControlName="pass">
                                    </div>

                                    <div class="mb-3">
                                        <label for="foto" class="form-label">Foto de Perfil</label>
                                        <input type="file" (change)="handleUpload($event)" class="form-control"
                                            id="foto" accept="image/jpeg">
                                    </div>
                                </form>

                                <div class="row">
                                    <div class="d-grid mx-auto">
                                        <button type="submit" (click)="crear()"
                                            class="btn btn-outline-success">Registrarme</button>
                                    </div>
                                </div>

                                <div class="row" style="padding-top: 5px;">
                                    <div class="d-grid mx-auto">
                                        <a href="#" class="btn btn-outline-secondary">Iniciar Seión</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col"></div>
            </div>
        </div>
    </div>
    <div class="alert alert-success" *ngIf="alert" role="alert">
        {{message}}
      </div>
</div>
