<div class="row">
    <div class="col">
        <div class="card" style="width: 18rem;">
            <img src="https://ui-avatars.com/api/?name=User+Anonimo" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Usuario Anonimo</h5>
                <p class="card-text">Realice cambios en sus archivos</p>
                <div class="d-grid mx-auto">
                    <a class="btn btn-outline-success">Agregar Nuevo</a>
                </div>
            </div>
        </div>
    </div>
    <div class="col-8">

        <div class="card">
            <h5 class="card-header">Públicos</h5>
            <div class="card-body">
                
        <div class="card" style="width: 10rem;">
            <img src="../../../../assets/img/file.jpg" class="card-img-top">
            <div class="card-body">
              <p class="card-text" style="font-size:12px;">NombreArchivo.jpg</p>
            </div>
          </div>
            </div>
          </div>
    </div>
</div>